<!DOCTYPE html>
<html>
    <head>
        <title>JackMu-Tech Blog</title>
    </head>
    <body>
        <header>
            <h1>
                <a href="/">JackMu-Tech Blog</a>
            </h1>
        </header>

        <article>
            <time>Published: 04.02.2024, 12:14</time>
            <h2>
                <a href="">Post 1</a>
                <p>I love the Engineering Concepts, I am a Beginner in Web Development</p>
            </h2>
        </article>

        <article>
            <time>Published: 04.02.2024, 12:16</time>
            <h2>
                <a href="">Post 2</a>
                <p>I love learning from people and teach those who
                     do not know as well, so that we can extend the world of know how.  </p>
            </h2>
        </article>

    </body>
</html>